.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.p-datatable .p-datatable-thead>tr>th {
    background-color: #FFE5EE;
}

input.p-inputtext.p-component {
    width: 50px;
}

input.p-inputtext.p-component.p-comment{
    width: initial;
}