.table-container {
    width: 100%;
    /* Adjust as needed */
    overflow-x: auto;
}

#timesheet-table {
    /* min-width: 1500px; */
    min-width: 1000px;
    border-collapse: collapse;
}

#timesheet-table th {
    padding: 0.8rem 0;
    text-align: left;
    background-color: #FFE5EE;
    color: black;
}

#timesheet-table td {
    text-align: left;
    /* padding: 0.3rem 0.5rem; */
    padding: 0.8rem 0;
}

.resize {
    width: 60%;
}

tr:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.btns-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 1rem;
}

.btn {
    outline: none;
    padding: 0.5em 1em;
    border: none;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-size: 1rem;
    cursor: pointer;
}

.btn.btn-save {
    background-color: hsl(247, 70%, 21%);
    color: white;
}

.btn.btn-save:hover {
    background-color: hsl(247, 70%, 30%);
}

.btn.btn-submit {
    background-color: hsl(340, 100%, 69%);
    margin-left: 1rem;
    color: white;
}

.btn.btn-submit:hover {
    background-color: hsl(340, 100%, 45%);
}

@media only screen and (max-width: 600px) {
    .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        max-width: 100%;
    }
}
